@model LojaGames.Models.Funcionario
@{
    ViewBag.Title = "Funcionario";
}

<h2>Cadastrar Funcionário</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(m => m.FuncCod)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.FuncCod)
            @Html.ValidationMessageFor(m => m.FuncCod)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.FuncNome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.FuncNome)
            @Html.ValidationMessageFor(m => m.FuncNome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.FuncCpf)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.FuncCpf)
            @Html.ValidationMessageFor(m => m.FuncCpf)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.FuncRg)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.FuncRg)
            @Html.ValidationMessageFor(m => m.FuncRg)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.FuncDtNasc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.FuncDtNasc)
            @Html.ValidationMessageFor(m => m.FuncDtNasc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.FuncEnd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.FuncEnd)
            @Html.ValidationMessageFor(m => m.FuncEnd)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.FuncCel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.FuncCel)
            @Html.ValidationMessageFor(m => m.FuncCel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.FuncEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.FuncEmail)
            @Html.ValidationMessageFor(m => m.FuncEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.FuncCargo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.FuncCargo)
            @Html.ValidationMessageFor(m => m.FuncCargo)
        </div>

        <br />
        <div>
            <input type="submit" value="Cadastrar" />
        </div>
    </fieldset>

    @section Scripts{@Scripts.Render("~/bundles/jqueryval")}
}
